<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
	<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
	{% block head_links %}
	{% if 'assets' in PLUGINS %}
	{% include '_includes/minify_css.html' with context %}
	{% else %}
	<!--link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/elegant.prod.9e9d5ce754.css" media="screen" /-->
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/custom.css" media="screen" />
	{% endif %}
	{% endblock head_links %}
	<link rel="dns-prefetch" href="//fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

	{% if CLAIM_GOOGLE %}
	{% include '_includes/claim_google.html' with context %}
	{% endif %}
	{% if CLAIM_BING %}
	{% include '_includes/claim_bing.html' with context %}
	{% endif %}
	{% if CLAIM_YANDEX %}
	{% include '_includes/claim_yandex.html' with context %}
	{% endif %}
	{% if article and article.author %}
	<meta name="author" content="{{ article.author }}" />
	{% elif page and page.author %}
	<meta name="author" content="{{ page.author }}" />
	{% else %}
	<meta name="author" content="{{ AUTHOR }}" />
	{% endif %}

	{% from '_includes/_defaults.html' import SITE_DESCRIPTION with context %}
	{% if SITE_DESCRIPTION %}
	<meta name="description" content="{% block head_description %}{{ SITE_DESCRIPTION|e }}{% endblock head_description %}" />
	{% endif %}
	{% block meta_tags_in_head %}
	{% from '_includes/_defaults.html' import TWITTER_USERNAME with context %}
	{% if TWITTER_USERNAME %}
	<meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}" />
	{% endif %}
	<meta property="og:type" content="article" />
	<meta name="twitter:card" content="summary" />
	{% endblock meta_tags_in_head %}
	<title>{% block title %}{{ SITENAME|striptags|e }}{% endblock title %}</title>
	{% include '_includes/favicon_links.html' %}
	{% block feed_links %}
	{% include '_includes/feeds.html' %}
	{% endblock feed_links %}
	{% include '_includes/analytics.html' %}
</head>
<body class="has-navbar-fixed-top">

<nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">

	<div class="navbar-brand">
		<a class="navbar-item" href="{{ SITEURL }}/">
			<img src="{{ SITEURL}}/{{ VOKIBLOG_SITELOGO }}" width="28px" height="28px">
		</a>

		<a class="navbar-item" href="{{ SITEURL }}/">
			{{ SITENAME }} 
		</a>

		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div class="navbar-menu">
		<div class="navbar-start">
			{% for menuitem, target in MENUITEMS %}
			{% if target is string %}
			<a class="navbar-item" href="{{ SITEURL }}/{{ target }}">
				{{ menuitem }}
			</a>
			{% else %}
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
				{{ menuitem }}
				</a>
				<div class="navbar-dropdown">
					{% for submenuitem, subtarget in target %}
					{% if submenuitem == '-' %}
					<hr class="navbar-divider" />
					{% else %}
					<a class="navbar-item" href="{{ SITEURL }}/{{ subtarget }}">
						{{ submenuitem }}
					</a>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% endfor %}

		</div>

			<div class="navbar-end">
				<div class="navbar-item">
				{% for name, url, classes, icon in VOKIBLOG_SOCIAL %}
					<a class="icon {{classes}}" title="{{name}}" href="{{url}}" rel="noopener noreferrer" target="_blank"><i class="{{icon}}"></i></a>
				{% endfor %}
			</div>
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-primary">
						<strong>Sign up</strong>
					</a>
					<a class="button is-light">
						Log in
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>

{% block content %}
{% endblock content %}

{% include '_includes/footer.html' %}
{% block script %}
<script src="//code.jquery.com/jquery.min.js"></script>
<script>
	function validateForm(query)
	{
		return (query.length > 0);
	}
	$(document).ready(function() {

		// Check for click events on the navbar burger icon
		$(".navbar-burger").click(function() {

			// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
			$(".navbar-burger").toggleClass("is-active");
			$(".navbar-menu").toggleClass("is-active");

		});
	});
</script>
{% endblock script %}
{% include '_includes/stat_counter.html' %}

</body>
</html>
<!-- vim: noet ts=2 sw=2
-->
