{% extends 'base.html' %}

{% block title %}{{ SITENAME }} - Sector {{ category }}{% endblock %}

{% block meta_tags_in_head %}
{{ super() }}
{% from '_includes/_defaults.html' import LANDING_PAGE_TITLE, FEATURED_IMAGE, SITE_DESCRIPTION with context %}
{% if LANDING_PAGE_TITLE %}
<meta property="og:title" content="{{ LANDING_PAGE_TITLE|e }}"/>
<meta name="twitter:title" content="{{ LANDING_PAGE_TITLE|e }}">
{% else %}
<meta property="og:title" content="{{ SITENAME|striptags|e }}"/>
<meta name="twitter:title" content="{{ SITENAME|striptags|e }}">
{% endif %}
<meta property="og:url" content="{{ SITEURL }}" />
<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
<meta property="og:article:author" content="{{ AUTHOR }}" />
{% if FEATURED_IMAGE %}
<meta property="og:image" content="{{ FEATURED_IMAGE }}" />
<meta name="twitter:image" content="{{ FEATURED_IMAGE }}" >
{% endif %}
{% if SITE_DESCRIPTION %}
<meta property="og:description" content="{{ SITE_DESCRIPTION|e }}" />
<meta name="twitter:description" content="{{ SITE_DESCRIPTION|e }}">
{% endif %}
<meta name="keywords" content="{% for tag, _ in tags|sort %} {{ tag }}, {% endfor %}{% for category, _ in categories|sort %} {{ category }}, {% endfor %}" />
{% endblock meta_tags_in_head %}

{% block content %}

{% set articlepage = pages | selectattr('slug', 'equalto', 'sector-'+category.slug) | first | default("No extra info") %}

{% for page in pages %}
- {{ page.slug }}
{% endfor %}

<section class="section hero is-bold is-small">

  <div class="hero-header">
		<div class="container">
			<p class="subtitle is-3 image is-64x64">
				<img src="/images/categories/{{category.slug}}.png">
			</p>
			<h1 class="title is-1">Sector: {{category.name}}</h1>

			<div class="content">
					{{articlepage.summary}}
			</div>
		</div>
	</div>

	{% if articlepage and articlepage.meta and articlepage.meta.highlights %}
	<div class="container">
		<div class="columns is-centered is-multiline">
			{% for highlight in articlepage.meta.highlights | default([]) %}
			<div class="column">
				<div class="box has-background-light">
					<h1 class="title">{{ highlight.title }}</h1>
					<h1 class="subtitle">{{ highlight.subtitle }}</h1>
					<p class="block">{{ highlight.description }}</p>
					<a
						class="button has-icon-left {{highlight.action_class }}"
						href="{{ highlight.action_url }}"
					>
						{{ highlight.action }} &nbsp;
						<span class="icon"><i class="fas fa-angle-right"></i></span>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}

</section>

<section class="section is-bold is-small">
	<div class="container">
		<div class="columns is-centered is-multiline">
			<div class="column">
				<div class="content">
						{{articlepage.content}}
				</div>
			</div>
		</div>
	</div>
</section>

{% from '_includes/_defaults.html' import RECENT_ARTICLES_COUNT, ARCHIVES_URL with context %}

{% macro article_summary_card(article, ncolumns=6, imagecolumns=12) %}

<div class="column post is-{{ncolumns}}">
	<article class="columns is-multiline">
		<div class="column is-{{ imagecolumns }}  post-img">
			<a href="{{ SITEURL }}/{{ article.url }}">
				<div class="image is-16by9">
					<img class="fits-cover" src="{{ article.featured_image or 'https://cdn.emk.dev/templates/post-img.png'}}" alt="Featured Image" />
				</div>
			</a>
		</div>
		<div itemscope class="column is-{{ (12-imagecolumns) or 12 }} featured-content ">
			<div class="is-pulled-right is-clearfix">
					{% for cat in article.categories or [article.category] %}
					<span class="is-pulled-left">
						<a href="{{ SITEURL }}/{{ article.category.url }}">
							<span class="image is-32x32">
								<img alt="{{cat}}" title="{{cat}}" src="{{ SITEURL }}/images/categories/{{ cat | lower }}.png" alt="{{ cat }}" />
							</span>
						</a>
					</span>
					{% endfor %}
			</div>
			<time itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
			<h3 class="heading post-category">{{ article.categories | join(', ') }}</h3>
			<h1 class="title post-title is-3">{{ article.title }}</h1>
			<div class="post-excerpt">{{ article._summary or article.summary  }}</div>
			<a href="{{ SITEURL }}/{{ article.url }}" class="button is-primary is-pulled-right">Lee Más</a>
		</div>
	</article>
</div>

{%- endmacro %}

<section id="section_news" class="section blog-posts">
	<div class="container">
		<h1 class="title">Noticias</h1>
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<div class="columns featured-post is-multiline card">
					{% for article in articles[:1] %}
					{{ article_summary_card(article, 12, 7) }}
					{% endfor %}
				</div>
				<div class="columns is-multiline">
					{% for article in articles[1:3] %}
						{{ article_summary_card(article, ncolumns=6) }}
					{% endfor %}
					{% for article in articles[3:] %}
						{{ article_summary_card(article, ncolumns=4) }}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock content %}
<!-- vim: noet ts=2 sw=2
-->
